
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');

html {
    font-size: 1.68rem;
    background-color: #AA346F;
}

body {
    background-color: #AA346F;
    color: #FCE0F6;
    line-height: 1.5;
    margin: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0; 
    
}

nav {
    background-color: #FCE0F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding-right: 1.7rem;
    padding-top: 0.5rem;
}

nav img{
    width: 9rem;
}

nav h1:hover {
    text-decoration: underline #AA346F;
}

h1 {
    color: #AA346F;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: var(--Light-Yellow, #FFECB6);
    text-align: center;
    font-family: Bona Nova;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    color: #AA346F;
    text-align: center;
    font-family: Helvetica;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

#indexpage {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat  (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

#nav_home {
    text-decoration: underline #91C2AA;
    color: #91C2AA;
} 

#bioline img {
    width: 35rem;
    display: block;
  margin-left: 9.6rem;
    position: relative;
}

 #portfoliomain section {
    margin: 9.25rem auto;
    text-align: center;
   font-family: Helvetica;
 }

#portfoliomain {
    max-height: 150vh; 
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#portfoliomain img {
    height: 15.065rem;
}

.aboutpage {
    margin: .3rem auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% repeat(5,17%);
    grid-column-gap: 0rem;
    grid-auto-flow: dense;
}

#nav_about {
    text-decoration: underline #91C2AA;
    color: #91C2AA;
}

h3 {
    font-size: 0.7rem;

}

#nav_works {
    text-decoration: underline #91C2AA;
    color: #91C2AA;
}

#bio_1 {
    grid-column: 6/8;
    grid-row: 2/3;
    font-size: 2rem;
}

#selfportrait {
    grid-column: 4/7;
    grid-row: 3/7;
}

#selfportrait img {
    height: 19.5rem;
}

#bio_p1 {
    grid-column: 7/11;
    grid-row: 3/4;
    text-align: left;
    font-size: 0.80rem;
    font-family: helvetica;
}

.contact {
    margin: 6rem auto;
}

#nav_contact {
    text-decoration: underline #91C2AA;
    color: #91C2AA;
}

input, textarea {
    width: 100%;
    background-color: #FCE0F6;
    color: #AA346F;
    font-size: 2.8125rem;
    padding: 8px 16px 8 px 16px;
}

label {
    display: block;
    margin: 16px 0px 16px 0px;
    font-family: helvetica;
    font-size: 0.9rem;
}

textarea {
    height: 250px;
    font-family: helvetica;

}

button {
    background-color: #FFECB6;
    border: none;
    font-size: 20px;
    font-family: helvetica;
    padding: 8px 16px 8px 16px
}

input:focus, textarea:focus {
    border: 2px solid #FCE0F6;
}

footer {
    background-color: #FCE0F6;
    width: 100%;
    height: 9%;
    margin:auto; 
    position: fixed;
    bottom: 0;
}

footer img {
    height: 1.5rem;
}

.workpages {
    margin: .3rem auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% repeat(10,8.5%);
    grid-column-gap: 0rem;
    grid-auto-flow: dense;
}

.work_titles {
    margin: 8rem auto;
    grid-column: 2/5;
    font-size: 1.74rem;
}

.shortwork_titles {
    margin: 11rem auto;
    grid-column: 2/5;
    font-size: 1.74rem;
}

.works_p {
    margin: 5rem auto;
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 0.9rem;
    text-align: justify;
}

.works_slides {
    margin: 7rem auto;
    grid-column: 6/11;
    grid-row: 1/7;
}

